<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheet.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Athiti|Chonburi&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Join | Snap 'n Gap</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="logo.png" width="30" height="auto" class="d-inline-block align-top" alt="">
        Snap n' Gap
      </a>
      <a href="index.html" class="btn btn-outline-dark d-none d-md-block my-2 my-sm-0" type="link">กลับหน้าหลัก</a
        href="register.html">
    </div>
  </nav>
  <div class="container full-width" id="box">
    <div class="row align-content-center">
      <div class="offset-lg-6 col-12 col-lg-6" id="content">
        <h1 id="regist-head" class="text-center">ลงทะเบียนกิจกรรมสแน็ปแอนด์แก็ปโฟโต้วอร์ค ครั้งที่ 1</h1>
        <div id="form-app">
          <div class="form-row">
            <div class="col-12 col-md-6">
                <label class="text-white" for="fName">ชื่อ</label>

                <input 
                @blur="isTouched.firstname = true"
                v-model="form.firstname" 
                type="text" 
                :class="['form-control', {'mb-3': isFirstNameValid || !isTouched.firstname}]" 
                placeholder="สแนป" 
                id="fName">

                <small 
                v-if="!isFirstNameValid && isTouched.firstname" 
                class="text-warning mb-3 d-inline-block">กรุณากรอกชื่อด้วยครับ</small>

            </div>
            <div class="col-12 col-md-6">
                <label class="text-white" for="lName">นามสกุล</label>
                <input v-model="form.lastname" type="text" class="form-control" placeholder="แก็ป" id="lName">
            </div>
          </div>
          <div class="form-row">
            <div class="col-12 col-md-5">
                <label class="text-white" for="nName">ชื่อเล่น</label>
                <input v-model="form.nickname" type="text" class="form-control" placeholder="ก็อปแก็ป" id="nName">
            </div>
            <div class="col-12 col-md-7">
                <label class="text-white" for="phoneNum">เบอร์มือถือ</label>
                <input v-model="form.phone" type="text" class="form-control" placeholder="0619144XXX" id="phoneNum">
            </div>
          </div>
          <div class="form-row">
            <div class="col">
                <label class="text-white" for="FacebookURL">Facebook URL</label>
                <input v-model="form.facebook" type="text" class="form-control"
                  placeholder="https://www.facebook.com/snapandgap" id="FacebookURL">
            </div>
          </div>
          <div class="form-row">
            <div class="col-12 col-md-6">
                <label class="text-white" for="LineID">Line ID</label>
                <input v-model="form.line" type="text" class="form-control" placeholder="snapandgap" id="LineID">
            </div>
          </div>
          <div class="form-row">
            <div class="col">
                <label class="text-white" for="devices">อุปกรณ์ที่ใช้ถ่ายภาพ (เลือกได้มากกว่า 1 อย่าง)</label>
                <div class="form-check-inline">
                  <input v-model="form.devices.dslr" class="form-check-input" type="checkbox" name="device" id="DSLR"
                    value="option1">
                  <label class="form-check-label" for="DSLR">
                    กล้องDSLR / กล้องโปร
                  </label>
                </div>
                <div class="form-check-inline">
                  <input v-model="form.devices.phone" class="form-check-input" type="checkbox" name="device"
                    id="mobilePhone" value="option2">
                  <label class="form-check-label" for="mobilePhone">
                    กล้องโทรศัพท์มือถือ
                  </label>
                </div>
                <div class="form-check-inline">
                  <input v-model="form.devices.film" class="form-check-input" type="checkbox" name="device" id="film"
                    value="option3">
                  <label class="form-check-label" for="film">
                    กล้องฟิล์ม
                  </label>
                </div>
                <div class="form-check-inline">
                  <input v-model="form.devices.other" class="form-check-input" type="checkbox" name="device" id="other"
                    value="option4">
                  <label class="form-check-label" for="other">อื่นๆ</label>
                </div>
            </div>
          </div>
          <hr>
          <div class="form-row">
            <div class="col-12">
                <label class="text-white" for="reason">ขอเหตุผลน่ารักๆว่าทำไมถึงมาร่วมกิจกรรม</label>
                <textarea v-model="form.reason" class="form-control" placeholder="เพราะคนจัดงานหล่อมากๆ" id="reason"
                  row="3"></textarea>
            </div>
          </div>
          <div class="btn-row">
            <button @click="saveForm" class="btn w-100 py-3 btn-outline-light my-2 my-sm-0" type="submit">ยืนยัน!</button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

  <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.1.0/firebase-app.js"></script>

  <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
  <script src="https://www.gstatic.com/firebasejs/7.1.0/firebase-analytics.js"></script>

  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/7.1.0/firebase-firestore.js"></script>

</body>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCzsUn4TCWlwKeSuXhf0uCI5w2jiBhKPsc",
    authDomain: "snap-n-gap.firebaseapp.com",
    databaseURL: "https://snap-n-gap.firebaseio.com",
    projectId: "snap-n-gap",
    storageBucket: "snap-n-gap.appspot.com",
    messagingSenderId: "1069369490873",
    appId: "1:1069369490873:web:39d38f339ff27076a14a68",
    measurementId: "G-RN0BJH55HD"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
  var db = firebase.firestore();

  var app = new Vue({
    el: '#form-app',
    data: {
      isTouched: {
        firstname: false,
        lastname: false,
        nickname: false,
        phone: false,
        facebook: false,
        line: false,
      },
      error: false,
      form: {
        firstname: '',
        lastname: '',
        nickname: '',
        phone: '',
        facebook: '',
        line: '',
        devices: {
          dslr: false,
          phone: false,
          film: false,
          other: false
        },
        reason: '',
      }
    },
    methods: {
      saveForm() {
        if (
          this.form.firstname !== '' &&
          this.form.lastname !== '' &&
          this.form.nickname !== '' &&
          this.form.phone.length == 10
        ) {
          db.collection('applicants').add(this.form).then(function () {
            window.location.href = '/success.html';
          })
        } else {
          this.error = true;
          alert('กรอกข้อมูลให้ครบนะครับ ❤️');
        }
      }
    },
    computed: {
      isFirstNameValid () {
        if (this.form.firstname.length >= 2) {
          return true;
        }
        return false;
      }
    }
  });
  // ปวดหัวโว้ยยยยยย
</script>